*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#gui-container
{
    background-color: rgb(125, 17, 192);
    display: flex;
    flex-flow: row-wrap;
    position: fixed;
    bottom: 0;
    left: 35%;
    height: 50px;
    width: 30%;
    /*
    background-color: #ffffff;
    opacity: .4;
    */
}

.button
{
    background-color: rgb(125, 17, 192), 0;
}

.phase, .button
{
    background-color: rgb(22, 216, 238);
    width: auto;
    height: auto;
    margin: 4px;
    flex: 1;
    flex-basis: 20%;
    /*
    background-color: #ffffff;
    opacity: .4;
    */

}

#arrow-left
{
    background-image: "..\static/icon/a";
}
