*{
    margin: 0;
    padding: 0;
}

html,
body{
    overflow: hidden;
    background-color: aliceblue;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#gui-container{
    display: flex;
    flex-flow: row-wrap;
    position: fixed;
    bottom: 0%;
    left: 35%;
    background-color: brown;
    height: 100px;
    width: 30%;
}

.phase, .button{
    background-color: chartreuse;
    flex: 1 1 18%;
    height: auto;
    margin: 4px;
    padding: 20px 0;
    width: auto;
    text-align: center;
    font-size: 50px;
    font-family: Monospace;
}

.button{
    background-repeat: no-repeat;
    padding: 0%;
    width: auto;
    height: auto;
}

#arrow-left{
    background-image: url(../static/icons/arrow-left.png);
}
#arrow-right{
    background-image: url(../static/icons/arrow-rechts.png);
}
#gui-container
{
    background-color: rgb(125, 17, 192);
    display: flex;
    flex-flow: row-wrap;
    position: fixed;
    bottom: 0;
    left: 35%;
    height: 100px;
    width: 30%;
    /*
    background-color: #ffffff;
    opacity: .4;
    */
}

.button
{
    background-color: rgb(125, 17, 192), 0;
}

.phase, .button
{
    /* background-color: rgb(22, 216, 238); */
    width: auto;
    height: auto;
    margin: 4px;
    flex: 1;
    flex-basis: 20%;
    text-align: center;
    font-size: 50px;


}

#arrow-left
{
    background-image: url(../static/icon/arrow-left.png);
    background-repeat: no-repeat;
}


#arrow-right
{
    background-image: url(../static/icon/arrow-right.png);
    background-repeat: no-repeat;
}

